<%= provide(:title, 'PHP | Basics') %>

<div class="links">
  <%= link_to 'PHP Home', php_path %>
</div>
<div class="links">
  <%= link_to 'Basics', php_basics_path %>
</div>
<div class="links">
  <%= link_to 'Objects', php_objects_path %>
</div>
