<%= provide(:title, 'PHP') %>


<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>
<h1>PHP</h1>
<p>
  PHP was orginially designed specifically for web development but it is also used as a general purpose programming language.
</p>
</main>
</div>
