<%= provide(:title, 'PHP') %>

<%= render 'header' %>

<h1>PHP</h1>
<p>
  PHP was orginially designed specifically for web development but it is also used as a general purpose programming language.
</p>
