<%= provide(:title, 'PHP') %>

<div class="links">
  <%= link_to 'PHP Home', php_path %>
</div>
<div class="links">
  <%= link_to 'Basics', php_basics_path %>
</div>
<div class="links">
  <%= link_to 'Objects', php_objects_path %>
</div>

<h1>PHP</h1>
<p>
  PHP was orginially designed specifically for web development but it is also used as a general purpose programming language.
</p>
