<div class="links">
  <%= link_to 'Git Home', git_path %>
</div>
<div class="links">
  <%= link_to 'Git Installation', git_installation_path %>
</div>
<div class="links">
  <%= link_to 'Git Setup', git_setup_path %>
</div>
