<div class="container">
  <%= link_to 'Git Installation', git_installation_path %>
  <%= link_to 'Git Setup', git_setup_path %>
</div>

<%= provide(:title, 'Git')%>
<h1>Git</h1>

<h2>
  Git is a version control system.  Unlike most client–server systems, every
  Git directory on every computer is a full-fledged repository with complete
  history and full version-tracking capabilities, independent of network access
  or a central server.
</h2>
