<%= provide(:title, "Git | Installation") %>

<%= render 'header' %>

<h1>Git Installation</h1>

<h2>Check if git is installed:</h2>
<div class="code">
  <span class="prompt">
    $
  </span>
    git -v
  </div>

<h2>Install git:</h2>
<div class="code">
  <span class="prompt">
    $
  </span>
    sudo apt install git
</div>

<h2>Make sure it worked:</h2>
<div class="code">
  <span class="prompt">
    $
  </span>
    git -v
</div>
