<div class="container">
  <%= link_to 'Git Home', git_installation_path %>
  <%= link_to 'Git Installation', git_setup_path %>
</div>

<h1>Git Setup</h1>

<h2>After the installation, a few things need to be done in order for git 
  to be must be setup.</h2>

<h2>Configuration</h2>
<div class="code">
  <span class="prompt">$ </span>git config --global color.ui true<br>
  <span class="prompt">$ </span>git config --global user.name "your_name"<br>
  <span class="prompt">$ </span>git config --global user.email
  "email@example.com"
</div>
