<%= provide(:title, "Emacs") %>

<div class="wrapper2">

<nav class='nav'>
<%= render 'header' %>
</nav>


<main class='main'>
<h1>Emacs</h1>
<blockquote>The extensible, customizable, self-documenting, real-time display editor</blockquote>
<h3>The Editor War</h3>
<p>Emacs and Vi(m) are the two main contenders in the editor wars of the Unix culture.  
Both are among the oldest applications still in use today.  Crazy.</p>

<p>I will take no part in this war.  I'm just hear to learn/teach how to use these
technologies.  I will say that both have their uses and both are very powerful.</p>

</main>
