<%= provide(:title, "C | Types") %>

<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>

<h1>Basics</h1>

<p>Let's introduce you to the language with a program:</p>

<div class="code">
<pre>
<span class="preproc">#include</span> <span class="str">&#060stdio.h&#062</span>

<span class="preproc">int</span> <span class="func">main</span>(<span class="preproc">void</span>)
{
    <span class="printf">printf</span>(<span class="str">"C programming is cool"</span>);

    <span class="preproc">return</span> <span class="num">0</span>;
}
</pre>
</div>

<p>Let's go through this program line by line:</p>
<table class='blist'>
<tr>
		<td>1.</td>
		<td>
				<span class="preproc">#include</span> - This allows you to include
				libraries; we have chosen <span class="str">&#060stdio.h&#062</span>
				which is the standard input/output library
		</td>
</tr>
<tr>
		<td>2.</td>
		<td>
				<span class="preproc">int</span> <span class="func">main</span>(<span
						class="preproc">void</span>) - Here, we are declaring a function
				that will return an integer value (int) called main which takes no
				parameters (void); Every program must have the main function.
		</td>
</tr>
<tr>
		<td>3.</td>
		<td>
				{ - The curly braces indicate the beginning and ending of blocks;
				functions, conditional blocks, loops, etc.
		</td>
</tr>
<tr>
		<td>4.</td>
		<td>
				<span class="printf">printf</span>(<span class="str">"Some text"</span>); - 
				This is called a print statement, or more generally a statement.  
		</td>
</tr>
</table>

</main>
</div>
