<%= provide(:title, 'C++ | First Program') %>
<div class="links">
  <%= link_to 'C++ Home', c_path %>
</div>
<div class="links">
  <%= link_to 'Control Structures', c_control_structures_path %>
</div>
<h1>First Program</h1>

<p>
  Create a directory for all your c++ programs
  Create a file named first_program.cpp
</p>
<div class="code">
  #include <iostream><br>
  int main()<br>
  {<br>
    std::cout << "This is how to output some text to the standard output (the console)";<br>
    std::endl;<br>
  }<br>

</div>
