<%= provide(:title, "C | Preprocessor") %>

<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>
<h1>Preprocessor</h1>
<h2>Define</h2>
<p>

</p>

</main>
</div>
