<%= provide(:title, 'Javascript | Learn') %>

<%= render 'header' %>

<h1>Setup</h1>
<p>
  To setup a javascript app, make a directory in which to work.  Then make a file called index.html (or something similar).  Also make another directory called jscripts for js files. Make a file called scripts.js. Link index.html to scripts.js file (&#060script scr=jscripts/scripts.js>&#060/script>)
</p>
