<% provide(:title, 'Rails') %>

<%= render 'header' %>


<h1>Rails</h1>

<h2>
   Ruby on Rails is open source software, so only is it free to use.  Rails is
   a web application development framework written in the Ruby language. It is
   designed to make programming web applications easier by making assumptions
   about what every developer needs to get started. It allows you to write
   less code while accomplishing more than many other languages and
   frameworks.
</h2>


<h2>The Rails philosophy includes two major guiding principles:</h2>
<h2>
  <ol>
    <li>
      Don't Repeat Yourself: By not writing the same information over and over
       again, our code is more maintainable, more extensible, and less buggy.
    </li>
    <li>
      Convention Over Configuration: Rails has opinions about the best way to do
      many things in a web application, and defaults to this set of
      conventions, rather than require that you specify every minutiae through
      endless configuration files.
    </li>
  </ol>
</h2>

<h2>Resources:</h2>
<p>
  Most of what is here is not mine.  It is a collection of information that I found to be useful to understand programming with Rails.  I give credit for the information on this website, specific to Rails, to these references:
</p>
<ol>
  <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
  <li><a href="http://www.tutorialspoint.com/ruby-on-rails">Tutorial Points</a></li>
  <li><a href="https://www.youtube.com/watch?v=SBfoRSjBtcc&list=PL-XXv-cvA_iCfQHHS7rxlfHFsU4aQW1IF">UC Berkeley CS-169 Saas</a></li>
  <li><a href="https://www.railstutorial.org/book/">Ruby on Rails Tutorial by Michael Hartl</a></li>
</ol>
