
<div class="links">
  <%= link_to 'Rails Installation', rails_installation_path %>
</div>
<div class="links">
  <%= link_to 'Rails Setup', rails_setup_path %>
</div>
<div class="links">
  <%= link_to 'Create Rails App', rails_create_path %>
</div>


<% provide(:title, 'Rails') %>

<h1>Rails</h1>

<h2>
   Ruby on Rails is open source software, so only is it free to use.  Rails is
   a web application development framework written in the Ruby language. It is
   designed to make programming web applications easier by making assumptions
   about what every developer needs to get started. It allows you to write
   less code while accomplishing more than many other languages and
   frameworks.
</h2>


<h2>
  The Rails philosophy includes two major guiding principles:
</h2>
<h2>
  <ul>
    <li>
      Don't Repeat Yourself: By not writing the same information over and over
       again, our code is more maintainable, more extensible, and less buggy.
    </li>
    <li>
      Convention Over Configuration: Rails has opinions about the best way to do
      many things in a web application, and defaults to this set of
      conventions, rather than require that you specify every minutiae through
      endless configuration files.
    </li>
  </ul>
</h2>
