
<div class="container">
  <%= link_to 'Rails Installation', rails_installation_path %>
  <%= link_to 'Rails Setup', rails_setup_path %>
</div>

<% provide(:title, 'Rails') %>

<h1>Rails#index</h1>
<p>Find me in app/views/rails/index.html.erb</p>
