<div class="container">
  <%= link_to 'Rails Home', rails_path %>
  <%= link_to 'Rails Setup', rails_setup_path %>
</div>

<% provide(:title, 'Rails Installation') %>

<h2>This is the easiest and fastest way to get up and running with rails:</h2>


<h2>Check if ruby is installed:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>ruby -v
  </p>
</div>


<h2>Install ruby:</h2>
<div class="code">
  <p>
    <span class='prompt'>$ </span>sudo apt install ruby
  </p>
</div>

<h2>Make sure it worked:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>ruby -v
  </p>
</div>


<h2>Check if bundler is installed:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>bundler -v
  </p>
</div>

<h2>Install bundler:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>sudo apt install ruby-bundler
  </p>
</div>

<h2>Make sure it worked:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>bundler -v
  </p>
</div>

<h2>Check if Rails is intalled:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>rails -v
  </p>
</div>

<h2>Install rails:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>sudo apt install ruby-railties
  </p>
</div>

<h2>Make sure it worked:</h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>rails -v
  </p>
</div>

<h2>Install dependencies: </h2>
<div class="code">
  <p>
    <span class="prompt">$ </span>sudo apt install libxml2-dev<br>
    <span class="prompt">$ </span>sudo apt install libsqlite3-dev<br>
    <span class="prompt">$ </span>sudo apt install zlib1g-dev<br>
  </p>

</div>
