<% provide(:title, 'Rails | Setup') %>


<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>



<h1>Rails Setup</h1>
<h2>Add a remote repository(BitBucket/Github)</h2>
<div class="code">
  <span class="prompt">$ </span>git remote add origin git@github.com/username/sample_app.git<br>
  <span class="prompt">$ </span>git push origin master
</div>

<h2>Setup Postgresql:</h2>
<div class="code">
  <span class="prompt">$ </span>sudo -u postgres createuser --superuser $USER
</div>
</main>
</div>
