<%= provide(:title, 'Linked Lists') %>

<%= render 'header' %>

<h1>Linked Lists</h1>

<p>
  A linked list is a collection of components, called <b>nodes</b>.  Each node contains two components: one to store data and one to store the address of the next node, called a <b>link</b>.  The address of the first node is stored in a separate location, called the <b>head</b> or <b>first</b>.  The last node's link is NULL.
</p>
<p><b>Linked List: </b>A list of items, called <b>nodes</b>, in whici the order
   of the nodes is determined by the address, called the <b>link</b>, stored in
   each node.
</p>

<p>
  We must declare each node as a <span class="preproc">class</span> or <span class="preproc">struct</span> because each node has two components.  The data type depends on the application, however, the link component is a pointer.  The type of the this pointer is the node type itself.
</p>
