<div class='links'>
  <%= link_to 'Network Home', network_path %>
</div>

<div class='links'>
  <%= link_to 'OSI Model', network_osi_path %>
</div>

<div class='links'>
  <%= link_to 'IP Addresses', network_ipaddr_path %>
</div>

<div class='links'>
  <%= link_to 'Devices and Protocols', network_devices_path %>
</div>

