<%= provide(:title, 'Network') %>

<div class='wrapper2'>

<nav class='nav'>
<%= render 'header' %>
</nav>

<main class='main'>
<h1>CompTIA Network+ Certification Study Guide</h1>

<p>
This is a Study Guide to help me pass the Network+ Certication based on the free
content provided by <a href='http://www.cybrary.it'>Cybrary.it</a>.  These guys
are awesome and are very knowledgable about the IT world.  Check them out.
</p>

</main>
</div>

