<div class="links">
  <%= link_to 'Linux Home', linux_path%>
</div>
<div class="links">
  <%= link_to 'Basics', linux_basics_path%>
</div>
<div class="links">
  <%= link_to 'File System', linux_file_system_path%>
</div>
<div class="links">
  <%= link_to 'Help Pages', linux_help_pages_path%>
</div>
