<% provide(:title, "Linux | Basics") %>

<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>
<h1>Basics</h1>

<h2>Install a package</h2>
<div class="code">
<pre>
  <span class="prompt">$</span> sudo apt-get install sqlite3
</pre>
</div>

<h2>Search for a package</h2>
<div class="code">
<pre>
  <span class="prompt">$</span> apt-cache search database
</pre>
</div>

<h2>See list of installed packages</h2>
<div class="code">
<pre>
  <span class="prompt">$</span> dpkg -l | grep sql
</pre>
</div>

<h2>List hardware specs</h2>
<div class="code">
<pre>
  <span class="prompt">$</span> lshw -html > myspecs.html
</pre>
</div>
<p>
  To view this file, open your browser and type in the full path to file
  preceeded by <code>file:///</code>:
</p>

<div class="code">
<pre>
  file:///home/ubuntu/myspecs.html
</pre>
</div>
</main>
</div>
