<%= provide(:title, "Linux | File System") %>

<%= render 'header' %>

<h1>File System</h1>

<span class="code1">
	/etc/passwd
</span>

<p>
	This file contains a list of all the system user accounts, along with some
	basic configuration information about each user.  Here is a sample entry:
</p>

<div class="code">
	root:x:0:0:root:/root:/bin/bash<br>
	daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin<br>
	bin:x:2:2:bin:/bin:/usr/sbin/nologin<br>
	ubuntu:x:1000:1000:ubuntu,,,:/home/ubuntu:/bin/bash
</div>


