
<div class="links">
  <%= link_to '#'%>
</div>

<h1> C++ Programming Notes Examples and References </h1>


<p>
 C++ is a general-purpose programming language. It has imperative, object-oriented and generic programming features, while also providing facilities for low-level memory manipulation.
</p>
