<%= provide(:title, "Linux | Help Pages") %>

<%= render 'header' %>

<h1>Help Pages</h1>


<h2>Man Pages</h2>

<p>
	Man stands for Manual.  To access these pages type <code>man grep</code>, where
	grep is the "thing" you want to read the manual pages about.
</p>

<p>
	There are different section numbers associated with the man pages.  They
	range from 1 to 9, and each is associated with specific types of commands.

</p>

<table>
	<tr>
		<td>
			1
		</td>
		<td>
			Executable programs/shell commands
		</td>
	</tr>

	<tr>
		<td>
			2
		</td>
		<td>
			System calls
		</td>
	</tr>

	<tr>
		<td>
			3
		</td>
		<td>
			Library calls
		</td>
	</tr>

	<tr>
		<td>
			4
		</td>
		<td>
			Special files
		</td>
	</tr>

	<tr>
		<td>
			5
		</td>
		<td>
			File formats and conventions
		</td>
	</tr>

	<tr>
		<td>
			6
		</td>
		<td>
			Games
		</td>
	</tr>

	<tr>
		<td>
			7
		</td>
		<td>
			Overviews, conventions and miscellaneous
		</td>
	</tr>

	<tr>
		<td>
			8
		</td>
		<td>
			Super user and system administration commands
		</td>
	</tr>

	<tr>
		<td>
			9
		</td>
		<td>
			Kernel routines
		</td>
	</tr>




<span class="code1">

</span>

<span class="code1">

</span>
