<div class="links">
  <%= link_to 'Vim Home', vim_path %>
</div>
<div class="links">
  <%= link_to 'Basics', vim_basics_path %>
</div>
<div class="links">
  <%= link_to 'Tmux', vim_tmux_path %>
</div>
