<%= provide(:title, "Vim | Buffer") %>

<%= render "header" %>


<h1>Working with the Buffer</h1>

<h2>Multiple Files</h2>

<p>
	There are a few ways to open multiples files in Vim.
</p>

<div class="code">
	<ol>
		<li>
			<span class="prompt">$</span>vim file1 file2 file3
		</li>
		<li>
			:e file.txt
		</li>
		<li>
			:bad file.c
		</li>
		<li>
			:args file.php
		</li>


</div>
