<%= provide(:title, 'Vim | Home') %>

<%= render 'header' %>

<h1>Vim</h1>
<p>
  Vim is a text editor that is very powerful.  It has a steep learning curve, but once mastered, it will increase productivity.
</p>
