<%= provide(:title, 'Vim | Searching') %>


<div class="wrapper2">

<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>
<h1>Searching</h1>

<p>
	By default, searches are case sensitive
</p>
<p>
	To search forward for a pattern:
</p>

<div class="code1">
	/pattern
</div>

<p>
	To search backward for a pattern:
</p>

<div class="code1">
	?pattern
</div>

<p>
	To search for an exact pattern:
</p>

<div class="code1">
	/\&#060pattern\&#062
</div>

<p>
	To search for a blank line:
</p>

<div class="code2">
	/^$
</div>

<p>
	To search for a pattern at the beginning of the line:
</p>

<div class="code1">
	/^pattern
</div>

<p>
	To search for a pattern that contains any character somewhere in it; for
	example, this will match 'came' and 'come'
</p>

<div class="code2">
	/c.me
</div>

<p> 
	By default, the cursor is placed at the first character of the search
	pattern.  You can use offsets to change where the cursor is placed.  There are
	two offsets available: character and line.  Let's look at these offsets.
</p>

<p>
	Offset by lines: if positive, the cursor moves down, if negative, the cursor
	moves up
</p>

<div class="code1">
	/default/2<br>
	/default/-2
</div>

<p>
	Offset by characters: e moves cursor to the end of the search pattern
	if positive, the cursor moves right, if negative, the cursor moves left
	b works in a similar way, but from the beginning of the pattern.
</p>

<div class="code1">
	/default/e<br>
	/default/e+2<br>
	?default?e-2<br>
	/default/b+2<br>
	/default/b-2<br>
</div>

<p>
	Repeating the last search pattern:
</p>

<div class="code2">
	n<br>
	N
</div>

<p>
	Repeating the last search pattern, but with a different offset:
</p>

<div class="code2">
	//e+2
</div>
</main>
</div>
