<h1>Welcome to Learning to Program</h1>

<p>
  This will soon have a large collection of resources and great examples. My hope is that someone new to programming can come here and learn a lot of great information about multiple programming languages; also, that more seasoned programmers could come here and either learn something new or use my notes as reference.
</p>
<p>
No programming language is perfect.  There is not even a single best language; there are only languages well suited or perhaps poorly suited for particular purposes. --Herbert Mayer
<p>
  I am running a Debian-based Linux OS, Ubuntu, on a custom built desktop.  I do not use IDEs (Integrated Development Environments).  I am about six months into my programming journey.  I have been jumping around between C++, Ruby, Rails, Javascript, and Bash.
</p>
<p>
  So far, I have read <em>C++ Programming: From Problem Analysis to Program Design</em> By Shelly Malik (Third Edition) published 2007.  I have also read
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>
  by Michael Hartl.
</p>
<p>
  You can contact me at <a href="https://www.twitter.com/tkbpule1">@tkbpule1</a>.
</p>
