<h1>Welcome to Learning to Program</h1>
<p>
  This will be a collection of knowledge for those learning/wanting to learn how to program.
</p>

<p>
  If you want to know more about a topic which I do not cover here, you can contact me at <a href="http://twitter.com/tkbpule1">@tkbpule1</a>.
</p>
