@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

ul {
  list-style-type: none;
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* Universal */

body {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  min-width: 980px;
}

section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
  font-size: 2.0em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1.3em;
  line-height: 1.8em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: red;
  text-decoration: none;
  }
}

.code {
  color: black !important;
  background: $gray-medium-light;
  border: solid 1px black;
  text-align: left;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
}

.prompt {
  color: blue !important;
}

.comment {
  color: gray;
}

.gem {
  color: blue;
}

.quote {
  color: green;
}

.group {
  color: #00cccc;
}

.links {
  font-size: 1.2em !important;
  border: solid 1px black;
  border-radius: 5px;
  display: inline-block;
  background-color: $gray-medium-light;
  padding: 5px 10px 5px 10px;
}

.container {
  min-width: 980px;
}

.nav {
   position: static;
  //  float: right;
  //  display: inline-block;

}

#header {
  min-width: 980px;
  margin: 10px 10px 10px 10px;
}
