// @import "bootstrap-sprockets";
// @import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-dark: #d8d8d8;
$func: #0000e0;
$preproc: #b000ff;
$str: #00a000;
$num: #eb9800;
$comment: #8c8c8c;
$printf: #00aaff;
$bash_var: red;
$conditional: yellow;


* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

header, section, footer, article, nav, hgroup {
	display: block;
}

body {
	width: 100%;
	display: flex;
	flex-flow: center;
	margin-top: 10px;
}


.navbar {
	background-color: black;
	display: block;
	width: 100%;
	position: fixed;
	z-index: 0;
	top: 0;
}

.wrapper {
	min-width: 100%;
	display: block;
}

.wrapper1 {
	display: block;
}

.navbar-nav li {
	display: inline-block;
	list-style: none;
	padding: 10px;
	font: bold 15px tahoma;
}

.navbar-nav li a {
	color: $gray-dark;
	text-decoration: none;
}

.navbar-nav li a:hover {
	color: red;
}

.navbar {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.wrapper2 {
	display: flex;
	padding: 25px;
}

.main {
	flex: 3;
	margin: 50px;
	padding: 20px;
}

.nav {
	max-width: 200px;
	margin: 10px;
	margin-top: 100px;
	padding-left: 20px;
	padding-top: 20px;
}

ul {
	list-style-type: none;
	margin-left: 30px;
}


/* Miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}

/* Universal */

section {
	overflow-x: hidden;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
  h1 {
		margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 45px;
	letter-spacing: -2px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

h2 {
	font-size: 35px;
	margin-bottom: 25px;
	margin-top: 40px;
	font-weight: normal;
	text-decoration: underline;
}

h3 {
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 40px;
	font-weight: normal;
	text-decoration: none;
}

p {
	font-size: 25px;
	line-height: 35px;
	margin-top: 20px;
	margin-bottom: 35px;
}

pre { 
	font-size: 25px;
}

blockquote {
	font-size: 25px;
	font-style: italic;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.3em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1.0px;
	padding-top: 9px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
	padding-left: 80px;
}

#logo:hover {
	color: red;
	text-decoration: none;
  }

span {
	display: inline;
}

.code {
	display: block;
	color: black !important;
	background: $gray-medium-light;
	border: solid 1px black;
	border-radius: 5px;
	text-align: left;
	padding: 20px 10px 10px 20px;
	font-weight: bold;
	font-family: "Courier new";
	font-size: 1.3em;
	margin-bottom: 10px;
}

.code1 {
	display: block;
	color: black !important;
	background: $gray-medium-light;
	border: solid 1px black;
	border-radius: 5px;
	text-align: left;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	font-family: "Courier new";
	font-size: 1.3em;
	margin-bottom: 10px;
	width: 35%;
}

.code2 {
	display: block;
	color: black !important;
	background: $gray-medium-light;
	border: solid 1px black;
	border-radius: 5px;
	text-align: left;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	font-family: "Courier new";
	font-size: 1.3em;
	margin-bottom: 10px;
	width: 6%;
}

.links {
	font-size: 1.2em;
	border: solid 1px black;
	border-radius: 5px;
	background-color: $gray-medium-light;
	padding: 5px 10px 5px 10px;
	margin: 3.5px;
}

code {
	display: inline-block;
	color: black;
	border-radius: 5px;
	background-color: $gray-dark;
	font-size: 1.1em;
	font-family: monospace;
	letter-spacing: 1.5px;
	padding: 3px 5px 3px 5px;
}

table, tr, td {
  border: 2.5px solid black;
}


.type {
    font-family: serif;
    background-color: #ffffcc;
	tr {
		padding: 10px;
	}
	td {
		padding: 10px;
	}
}

.bg {
  background-color: #ffffcc;
  text-align: center;
  width: 100%;
  td {
	  font-size: 18px;
	  padding: 25px;
	  text-align: center;
  }
  th {
	  font-size: 20px;
	  text-align: center;
	  padding: 25px;
	  border: black 2px solid;
  }
}

.blist {
  background-color: #ffffcc;
  width: 100%;
  border-collapse: collapse;
  td {
	  font-size: 18px;
	  padding: 25px;
	  text-align: left;
  }
  th {
	  font-size: 20px;
	  text-align: center;
	  padding: 25px;
	  border: black 2px solid;
  }
}

table {
	margin-top: 30px;
	margin-bottom: 30px;
}

.tcol1 {
  border-right: 2px solid black;
}

.trow1 {
  border-bottom: 2px solid black;
}


p {
  code {
    font-size: 1em;
  }
}

.code {
  pre {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    font-family: monospace;
    letter-spacing: 1.5px;
  }
}

.tb {
	table, tr, td {
		border: none;
	}
	td {
		font-size: 18px;
		text-align: left;
		padding-left: 25px;
		padding-top: 30px;
	}
}

ol {
  li {
    font-size: 20px;
	margin-left: 40px;
  }
}

ul {
	li {
		font-size: 22px;
	}
}

.list {
  ul {
    li {
      font-size: 22px;
    }
  }

}

.prompt {
  color: $func;
}

.gem {
  color: $func;
}

.group {
  color: teal;
}

.preproc {
  color: $preproc;
}

.str {
  color: $str;
}

.func {
  color: $func;
}

.num {
  color: $num;
}

.comment {
  color: $comment;
}

.printf {
  color: $printf;
}

.var {
  color: $bash_var;
}

.phpfunc {
  color: teal;
}

.folder {
  color: $func;
}

.file {
  color: $preproc;
}

.note {
	color: $bash_var;
}

.cond {
	color: $conditional;
}
