<div class="links">
  <%= link_to 'Apache | Home', apache_path %>
</div>
<div class="links">
  <%= link_to 'Install', apache_install_path %>
</div>
<div class="links">
  <%= link_to 'Configure', apache_configure_path %>
</div>

