<%= provide(:title, "Apache2") %>

<div class="wrapper2">
<nav class="nav">
<%= render 'header' %>
</nav>

<main class='main'>
<h1>Apache2</h1>

<p>
Apache is the most used web server.
</p>

<h2>References:</h2> 

<p>
	<a href="http://httpd.apache.org/docs/2.4">
		Apache HTTP Server Version 2.4 Documentation</a> 
</p> 

</main>
</div>
